[Unit]
Description=LV3 Final Mission Production Application
After=network.target

[Service]
Type=simple
User=runner
Group=runner
WorkingDirectory=/opt/lv3-final-mission/prod
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=prod lv2-final-mission-0.0.1-SNAPSHOT-prod.jar
Restart=always
RestartSec=10
StandardOutput=append:/opt/lv3-final-mission/prod/prod-app.log
StandardError=append:/opt/lv3-final-mission/prod/prod-app.log

[Install]
WantedBy=multi-user.target